In [5]:
#Question Number 1:-

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
# using inbuilt sort funtion to sort the list
ages.sort()
print("The sorted list:",ages)
"""using min() and max() inbuilt functions on the list to find the maximum and minimum value in the list and assigning then
   assigning them to a variable for further use"""
minimum=min(ages)
print("The minimum value in the list ages is :",minimum)
maximum=max(ages)
print("The maximum value in the list ages is :",maximum)
#appending the minimum and maximum values to the list

ages.append(minimum)
ages.append(maximum)

print("ages after sorting and appending: ",ages)
#finding the length to use it in finding the median of the list
length=len(ages)

#print(length)
median=0
k=length/2
k2=(length+1)/2
l=int(k)
l2=int(k2)
#print(l)
#print(l2)
"""If the length is even then we need to find the average of the average of the two centre most elements of the list or else
   we the centre element of the sorted list is our median"""
if (length/2==0):
    
    median=(ages[l]+ages[l+1])/2
else :
    median=(ages[l2])
    
print("median is:",median) 
# using the sum() inbuilt function to find the average of the elements in the list
total=sum(ages)
average= total/length
print("Average is :",average)
#range is difference between the maximum and minimum element in the list
range_=maximum-minimum
print("Range is : ",range_)

The sorted list: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
The minimum value in the list ages is : 19
The maximum value in the list ages is : 26
ages after sorting and appending:  [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
median is: 24
Average is : 22.75
Range is :  7

In [6]:
#Question 2:-


#Creating an empty Dictionary using curly braces
dog={}
#printing the empty Dictionary
print(dog)
#adding elements into the list named dog
dog['name']="Akamaru"
dog['Colour']="Blue"
dog['Breed']="Hound"
dog['Legs']="4"
dog['age']="7 years"

print(dog)

#initializing a dictionary along with the values with skills as list data type
student={"first_name":"Hirthik","last_name":"Siripurapu","gender":"Male","age":"22",
         "marital status":"Single","skills":["Cricket","Football"],"country":"USA","city":"Kansas City",
         "address":"1101NW Avenue, Lees Summit"}
#printing the student dictionary
print("The student dictionary is: " ,student)
print("Length of the student dictionary is: " , len(student))
print("Type of the skills student dictionary is: ", type(student['skills']))
#adding new elements into the skills list using append method
student['skills'].append("basket ball")
student['skills'].append("soft ball")
#printing only the skills in the student
print((student['skills']))
#creating an empty list for keys and values of the student dictionary respectively
keys_list=[]
values_list=[]
#adding keys and values to the lists
keys_list.append(student.keys())
values_list.append(student.values())
#printing keys and values list
print(keys_list)
print(values_list)

{}
{'name': 'Akamaru', 'Colour': 'Blue', 'Breed': 'Hound', 'Legs': '4', 'age': '7 years'}
The student dictionary is:  {'first_name': 'Hirthik', 'last_name': 'Siripurapu', 'gender': 'Male', 'age': '22', 'marital status': 'Single', 'skills': ['Cricket', 'Football'], 'country': 'USA', 'city': 'Kansas City', 'address': '1101NW Avenue, Lees Summit'}
Length of the student dictionary is:  9
Type of the skills student dictionary is:  <class 'list'>
['Cricket', 'Football', 'basket ball', 'soft ball']
[dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address'])]
[dict_values(['Hirthik', 'Siripurapu', 'Male', '22', 'Single', ['Cricket', 'Football', 'basket ball', 'soft ball'], 'USA', 'Kansas City', '1101NW Avenue, Lees Summit'])]

In [136]:
#Question3:-

#creating a tuple with some imaginary names
sisters=("Sita","Gita","Rupa")
brothers=("Ram","Raju","Ravi")
#joining the two tuples using "+".
siblings=sisters+brothers
print(type(siblings))
print((siblings))
#printing the length of the tuple using len() funtion
print(len(siblings))
#creating a empty list and converting the tuple to list 
family_members=[]
family_members=list(siblings)
print(family_members)
#adding two new members to the list
family_members.append("suresh")
family_members.append("Rupavathi")
print(family_members)

<class 'tuple'>
('Sita', 'Gita', 'Rupa', 'Ram', 'Raju', 'Ravi')
6
['Sita', 'Gita', 'Rupa', 'Ram', 'Raju', 'Ravi']
['Sita', 'Gita', 'Rupa', 'Ram', 'Raju', 'Ravi', 'suresh', 'Rupavathi']

In [8]:
#question4:-

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
#prininting the length of the list and adding the element "Twitter" to the set
print(len(it_companies))
it_companies.add("Twitter")
#adding Three elements to the set from a list using update()
it_companies.update(['T-Mobile','Intel','HP'])
#removing the element using remove() method
it_companies.remove('Amazon')
print(it_companies)

"""The remove method requiures a parameter(the value which needs to be deleted) and deletes the first occured element from
   container and returns an error if the element is not in the container where as the discard element also requires a 
   parameter which is the value to be deleted from the container and it does not throw an error when the element is not 
   present in the container and continues the execution of the rest of the program gracefully"""
C=A.union(B)
#Computing the union, intersection of the two sets
print(C)
D=A.intersection(B)
print(D)
#finding if A is a subset of B using issubset() function and if A and B are disjoint or not by using isdisjoint() which both will
# return either true or false
print(A.issubset(B))
print(A.isdisjoint(B))
A_copy=A
print("acopy:",A_copy)
A.update(B)
print(A)
B.update(A_copy)
print(B)
print(A.symmetric_difference(B))
#deleting both the sets 
del A
del B
#converting the list to a new set and finding the length
#length of the set is going to be lesser than the list because there will be only unique elements in the set
len_list=len(age)
print(len_list)
age_set=set(age)
print(age_set)
set_len=len(age_set)
print("the difference in lengths is :",abs(len_list-set_len))

7
{'HP', 'T-Mobile', 'Microsoft', 'IBM', 'Oracle', 'Apple', 'Google', 'Intel', 'Facebook', 'Twitter'}
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26}
True
False
acopy: {19, 20, 22, 24, 25, 26}
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}
set()
8
{19, 22, 24, 25, 26}
the difference in lengths is : 3

In [114]:
#Question 5:-

rad=30
#finding the area and circumference for the circle
area=3.14*rad**2
circumferece=2*3.14*rad
#printing the area and circumference of the circle
print("The area of the circle with radius 30mts is:",area,"sqmts")
print("The circumferece of the circle with radius 30mts is:",circumferece,"mts")
#taking the input from the user and printing the area of the circle with the given radius
radius=int(input("Enter the radius:"))
print(3.14*radius**2)

The area of the circle with radius 30mts is: 2826.0 sqmts
The circumferece of the circle with radius 30mts is: 188.4 mts
Enter the radius:56
9847.04

In [116]:
#Question 6:-

sentence="I am a teacher and I love to inspire and teach people"
#taking the sentence in a string and separating the contents when ever we encounter a white space so that we can get a 
#word and will be in a list
words=sentence.split(" ")
#converting the list to set so that we have only the unique words 
print(words)
unq_words=set(words)
print(unq_words)

['I', 'am', 'a', 'teacher', 'and', 'I', 'love', 'to', 'inspire', 'and', 'teach', 'people']
{'inspire', 'a', 'teacher', 'people', 'and', 'am', 'to', 'teach', 'love', 'I'}

In [122]:
#Question 7:

#using \t to get a tab space in the output
print("Name \t\t Age\t Country \t City")
print("Asabeneh\t 250\t Finland\t Helsinki")

Name 		 Age	 Country 	 City
Asabeneh	 250	 Finland	 Helsinki

In [126]:
#Question 8:-

radius = 10
area = 3.14 * radius ** 2
#using the . formater  
print("The area of a circle with radius {0} is {1} meters square.".format(radius,int(area)))

The area of a circle with radius 10 is 314 meters square.

In [135]:
#taking the input for number of weights
n=int(input("Enter the number of Students:"))
#creating a list for weights
weights=[]
#using for loop to interate to taking inputs from the user
for i in range(n):
    wt=int(input("Enter the weight:"))
    weights.append(wt)
print(weights)
kgs=[]
#converting the weights from lbs to kgs 
for i in weights:
    wt=i*0.45359237 
    kgs.append(format(wt,".2f"))
print(kgs)

Enter the number of Students:4
Enter the weight:150
Enter the weight:155
Enter the weight:145
Enter the weight:148
[150, 155, 145, 148]
['68.04', '70.31', '65.77', '67.13']